.cards {
    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-md);
    }

    @media (width <= $breakpoint-sm) {
        display: block;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    align-items: center;

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: block;

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__media {
    aspect-ratio: 595/490;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
}

.section {
    h2 {
        font-size: var(--font-size-h2);
        padding-bottom: 100px;
    }
    span {
        font-weight: 300;
        opacity: 55%;
    }
}

.card .card__content {
    h3 {
        font-size: typo(16px);
        text-transform: uppercase;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 1px;
    }
    p {
        font-size: var(--font-size-content);
        font-weight: 600;
    }
    .tag {
        font-size: typo(18px);
        font-weight: 300;
    }
}
