.footer {
    padding: 40px 0 40px;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin: 0;
        }
        p {
            margin: 4px 0 30px;
        }
    }
}

.footer ul {
    list-style-type: none;
    display: flex;
    gap: 56px;
    padding: 0;
    margin: 0;
    a {
        text-decoration: none;
        color: #8c8c8c;
    }
}
