.swiper__section {
    padding: 80px 0;
    background: var(--color-primary);
    .card {
        color: var(--color-black);
    }
    .button {
        background: var(--color-white);
    }
    .span {
        font-weight: 300;
    }
}

.swiper__section h2 {
    padding-bottom: 100px;
    color: var(--color-black);
    font-weight: 200;
    span {
        font-weight: 600;
    }
}