.swiper__section {
    padding: 80px 0;
    background: var(--color-primary);
    .card {
        color: var(--color-black);
        &:nth-child(even) {
        .card__content {
            order: unset;
        }
    }
    }
    .button {
        background: var(--color-white);
    }
    .span {
        font-weight: 300;
    }
}

.swiper__section h2 {
    padding-bottom: 100px;
    color: var(--color-black);
    font-weight: 200;
    span {
        font-weight: 600;
    }
}

.swiper-pagination {
    position: static;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-color: var(--color-black);
    --swiper-pagination-bullet-border-radius: 0;
}

.swiper-pagination-bullet {
    transform: rotate(45deg);
}