{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>Mes laboratoires</h2>
        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo.png" alt="Un beau laboratoire" />
                </div>
                <div class="card__content">
                    <h3>Sem 01 - Révision</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nemo hic! Distinctio omnis vel dolorum!</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo.png" alt="Un beau laboratoire" />
                </div>
                <div class="card__content">
                    <h3>Sem 02 - TIMTOOLS</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nemo hic! Distinctio omnis vel dolorum!</p>
                    <p class="tag">SCSS</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo.png" alt="Un beau laboratoire" />
                </div>
                <div class="card__content">
                    <h3>Sem 03 - PORTFOLIO LOUIS LAJOIE</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nemo hic! Distinctio omnis vel dolorum!</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo.png" alt="Un beau laboratoire" />
                </div>
                <div class="card__content">
                    <h3>Sem 04 - ICÔNES ET CLASSES JS</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nemo hic! Distinctio omnis vel dolorum!</p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <a href="#">Voir le laboratoire</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="swiper__section">
    <div class="wrapper">
        <h2>
            Mes
            <span>laboratoires réactifs</span>
        </h2>
        <div class="swiper swiper-page js-swiper-page">
            <div class="swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/labo.png" alt="Un beau laboratoire" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 07 - Site réactif</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nemo hic! Distinctio omnis vel dolorum!</p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <a href="#">Voir le laboratoire</a>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/labo.png" alt="Un beau laboratoire" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 08 - CryptoQc</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nemo hic! Distinctio omnis vel dolorum!</p>
                        <p class="tag">HTML + SCSS</p>
                        <a href="#">Voir le laboratoire</a>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/labo.png" alt="Un beau laboratoire" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 09 - SwiperJs</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, nemo hic! Distinctio omnis vel dolorum!</p>
                        <p class="tag">HTML + SCSS + JAVASCRIPT</p>
                        <a href="#">Voir le laboratoire</a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
