{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/portfolio.png" alt="" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2><span class="span">Mes premiers</span> laboratoires</h2>
        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem1.png" alt="Un beau laboratoire" />
                </div>
                <div class="card__content">
                    <h3>Sem 01 - Révision</h3>
                    <p><span class="span">Nous sommes retournés dans le travail,</span> avec des exercices classiques.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="https://fcharron.dectim.ca/cours/cw3/sem01/" class="button" target="_blank" rel="noopener noreferrer">
                        Voir le laboratoire
                        <svg class="icon">
                                <use href="#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem2.png" alt="Un beau laboratoire" />
                </div>
                <div class="card__content">
                    <h3>Sem 02 - TIMTOOLS</h3>
                    <p><span class="span">Un petit projet d'un site web</span> montrant les notions de TimTools</p>
                    <p class="tag">SCSS</p>
                    <a href="https://fcharron.dectim.ca/cours/cw3/sem02/" class="button" target="_blank" rel="noopener noreferrer">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem3.png" alt="Un beau laboratoire" />
                </div>
                <div class="card__content">
                    <h3>Sem 03 - PORTFOLIO LOUIS LAJOIE</h3>
                    <p><span class="span">Un travail plus prononcé sur un portfolio fictif,</span> montrant de nouveaux aspects dans le laboratoire.</p>
                    <p class="tag">HTML + SCSS</p>
                    <a href="https://fcharron.dectim.ca/cours/cw3/sem03/" class="button" target="_blank" rel="noopener noreferrer">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem4.png" alt="Un beau laboratoire" />
                </div>
                <div class="card__content">
                    <h3>Sem 04 - ICÔNES ET CLASSES JS</h3>
                    <p><span class="span">Une entrée dans la matière</span> sur la programmation en JavaScript.</p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <a href="https://fcharron.dectim.ca/cours/cw3/sem04/" class="button" target="_blank" rel="noopener noreferrer">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="swiper__section">
    <div class="wrapper">
        <h2>
            Mes
            <span>laboratoires réactifs</span>
        </h2>
        <div class="swiper swiper-page js-swiper-page">
            <div class="swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/sem7.png" alt="Un beau laboratoire" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 07 - Site réactif</h3>
                        <p><span class="span">Un laboratoire avec plein de numéros différents,</span> utilisant des techniques plus poussées.</p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <a href="https://fcharron.dectim.ca/cours/cw3/sem07/" class="button" target="_blank" rel="noopener noreferrer">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/labo.png" alt="Un beau laboratoire" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 08 - CryptoQc</h3>
                        <p><span class="span">Un site entièrement dédié au Réactif,</span> ainsi qu’à sa construction.</p>
                        <p class="tag">HTML + SCSS</p>
                        <a href="https://fcharron.dectim.ca/cours/cw3/sem08/" class="button" target="_blank" rel="noopener noreferrer">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/sem9.png" alt="Un beau laboratoire" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 09 - SwiperJs</h3>
                        <p><span class="span">Un laboratoire repoussant les limites de JavaScript,</span> nous initiant aux méthodes de Swiper.</p>
                        <p class="tag">HTML + SCSS + JAVASCRIPT</p>
                        <a href="https://fcharron.dectim.ca/cours/cw3/sem09/" class="button" target="_blank" rel="noopener noreferrer">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
